.dropdown {
  width:8rem;
  position: relative;
  display: inline-block;
  margin-left:auto;
}

.dropdown-content {
  padding-top:0.2rem;
  box-sizing:border-box;
  border:2px solid black;
  display: none;
  position: absolute;
  background-color: white;
  width:8rem;
  z-index: 5;
}

.dropdown-content input[type="radio"] {
  text-align: center;
  display: none;
  height:100%;
}

.dropdown-content input[type="checkbox"] {
  text-align: center;
  display: none;
  height:100%;
}

.dropdown-content label {
  height:1.5rem;
  font-size:0.9rem;
  color:black;
  display: block;
  padding: 1rem, 1rem;
  text-align: center;
  cursor:pointer;
}

.dropdown-content label:hover {
  background-color: #ddd;
}

#dropdownBtn {
  display: flex;
  align-items: center;
  box-sizing:border-box;
  border:2px solid black;
  border-radius: 0.2rem;
  width:8rem;
  padding: 0.3rem 0.6rem;
  background-color: white;
  color: black;
  cursor: pointer;
}

#dropdownBtn2 {
  display: flex;
  align-items: center;
  box-sizing:border-box;
  border:2px solid black;
  border-radius: 0.2rem;
  width:8rem;
  padding: 0.3rem 0.6rem;
  background-color: white;
  color: black;
  cursor: pointer;
}

.absolute-right {
  font-size: 1.1rem;
  margin-left:auto;
  right: 0.5rem;
}