.progress-bar {
   height: 1.8rem;
   background-color: #76c7c0;
   width: 0;
   border-radius: 0.9rem;
   text-align: center;
   line-height: 1rem;
   color: white;
   font-weight: bold;
}
.act_btn {
   width:2.5rem;
}