#simulator {
   display:none;
   flex-direction:column;
   justify-content: center;
   align-items: center;
}
.progress-bar {
   height: 1rem;
   background-color: #d1fffb;
   width: 0;
   text-align: center;
   color: white;
   font-weight: bold;
   border-radius: 3px;
}
.act_btn {
   border:0.2rem solid transparent;
   border-radius: 0.2rem;
   margin:0.2rem;
   width:2.5rem;
   display:flex;
   align-items: center;
   justify-content: center;
   cursor:pointer;
}
#boss-container {
   margin-top:0.2rem;
   margin-bottom: 0.5rem;
   width:20rem;
   background-color:black;
   display:flex;
   flex-direction: column;
   border-radius: 3px;
   border:1px solid white;
}
.cd-container {
   margin:0.2rem;
   width:2.5rem;
   background-color:black;
   border-radius: 3px;
   border:0.1rem solid white;
}
.cd {
   height: 0.5rem;
   background-color: #ffbc03;
   width: 0;
   border-radius: 1px;
}
.circleImg {
   margin:0.1rem;
   width:1.2rem;
   height:1.2rem;
   border-radius: 50%;
   cursor:pointer;
}

.comp-sim {
   display:flex; 
   justify-content: center;
}

.acted {
   border-radius: 0.3rem;
   position:absolute;
   left:0.2rem;
   top:0.2rem;
   width:2.5rem;
   height:2.5rem;
   background-color: black;
   opacity: 0.8;
   cursor: none;
   display:none;
}
.shd-container {
   width:2.5rem;
   background-color:rgb(121, 182, 31);
   border-radius: 3px;
   border:0.1rem solid white;
}
.shd {
   height: 0.5rem;
   background-color: #d1fffb;
   width: 0;
   border-radius: 1px;
}
.inquiry {
   cursor:pointer;
   color:white;
   font-size:1rem;
   font-weight: bold;
   margin-left: auto;
   margin-right: 0.5rem;
}
.inquiry:hover {
   text-decoration: underline;
}
.console {
   width:30rem;
   max-width:95vw;
   height: calc(90vh - 3.5rem);

   top:3.5rem;
   left:50%;
   transform: translateX(-50%);

   padding:0.5rem;
   position:fixed;
   overflow: auto;
   z-index:1000;
   box-sizing: border-box;
   border-radius: 0.7rem;
   background-color: rgba(0, 0, 0, 0.8);

   -ms-overflow-style: none; /* 인터넷 익스플로러 */
   scrollbar-width: none; /* 파이어폭스 */
   overflow-wrap: break-word;
   word-break: keep-all;
}
.console::-webkit-scrollbar {
   display: none; /* 크롬, 사파리, 엣지 */
}
 

.no-scroll {
   overflow: hidden;
}

body {
   -ms-overflow-style: none; /* 인터넷 익스플로러 */
   scrollbar-width: none; /* 파이어폭스 */
}

::-webkit-scrollbar {
   display: none; /* 크롬, 사파리, 엣지 */
}

.bond-icon {
   font-size:0.7rem;
   text-align:center;
   
   border-top-right-radius: 0.3rem;
   border-bottom-left-radius: 0.3rem;
   position:absolute;
   right:0.2rem;
   top:0.2rem;
   width:1rem;
   height:1rem;
   color:white;
   background-color: rgba(0, 0, 0, 0.7);
}

.guide-now {
   border-color:#ffbc03;
}