.bond-icon {
   font-size:0.7rem;
   text-align:center;
   
   border-top-right-radius: 0.3rem;
   border-bottom-left-radius: 0.3rem;
   position:absolute;
   right:0.2rem;
   top:0.2rem;
   width:1rem;
   height:1rem;
   color:white;
   background-color: rgba(0, 0, 0, 0.7);
}

table {
   width: 100%;
   border-collapse: collapse;
}
th, td {
   padding: 10px;
   text-align: center;
}

.s-btn {
   text-align:center;
   height:1.5rem;
   width:1.6rem;
   color:white;
   background-color: transparent;
   box-sizing:border-box;
   border:1px solid white;
   border-radius: 0.2rem;
   cursor:pointer;
}
.s-btn:hover {border-color: black;}
.input-txt {
   display: inline-block; 
   width:2rem;
   text-align:center;
}
.goButton {
   font-size:1rem;
   height:2.5rem;
   margin-left:auto;
   border: 2px solid transparent;
   font-weight: bold;
   cursor: pointer;
   border-radius: 0.3rem;
   padding: 0.3rem 0.6rem;
   background-color: #007BFF;
   color:white;
}

.boss-hp-input {
   box-sizing:border-box;
   border:2px solid black;
   border-radius: 0.2rem;
   width:8rem;
   height:2rem;
   vertical-align: middle;
   padding: 0.3rem 0.6rem;
}

input[type="text"]:disabled {
   background-color: #d7d7d7; /* 배경색 */
   color: black; /* 텍스트 색 */
}

.el-txt0 {color: red;}
.el-txt1 {color: deepskyblue;}
.el-txt2 {color: limegreen;}
.el-txt3 {color: yellow}
.el-txt4 {color: rgb(199, 67, 255)}

/* 드랍다운 */
.dropdown {
   width:8rem;
   position: relative;
   display: inline-block;
   margin-left:auto;
 }
 
 .dropdown-content {
   padding-top:0.2rem;
   box-sizing:border-box;
   border:2px solid black;
   display: none;
   position: absolute;
   background-color: white;
   width:8rem;
   z-index: 5;
 }
 
 .dropdown-content input[type="radio"] {
   text-align: center;
   display: none;
   height:100%;
 }
 
 .dropdown-content input[type="checkbox"] {
   text-align: center;
   display: none;
   height:100%;
 }
 
 .dropdown-content label {
   height:1.5rem;
   font-size:0.9rem;
   color:black;
   display: block;
   padding: 1rem, 1rem;
   text-align: center;
   cursor:pointer;
 }
 
 .dropdown-content label:hover {
   background-color: #ddd;
 }
 
 .dropdownBtn {
   display: flex;
   align-items: center;
   box-sizing:border-box;
   border:2px solid black;
   border-radius: 0.2rem;
   width:8rem;
   height:2rem;
   vertical-align: middle;
   padding: 0.3rem 0.6rem;
   background-color: white;
   color: black;
   cursor: pointer;
 }
 
 .absolute-right {
   font-size: 1.1rem;
   margin-left:auto;
   right: 0.5rem;
 }

/* 체크박스 관련*/

.i-x {
   cursor:pointer;
   width:1.5rem;
   height:1.5rem;
}

/* 기본 체크박스 숨기기 */
input[type="checkbox"] {display: none;}
input[type="checkbox"].exclude-checkbox {display:inline-block;}

/* 커스텀 체크박스 스타일 */
input[type="checkbox"] + label {
   position: relative;
   padding-left: 1.8rem;
   cursor: pointer;

   background-size: 90%;
   background-position: center;
   background-repeat: no-repeat;
   background-position: center calc(50% + 0.1rem);
}

/* 커스텀 체크박스 디자인 */
input[type="checkbox"] + label::before {
   content: "";
   position: absolute;
   left: 1px;
   top: -1px;
   width: 1.4rem;
   height: 1.4rem;
   border: 2px solid transparent;
   border-radius: 4px;
}

/* 체크박스가 체크되었을 때 */
input[type="checkbox"]:checked + label::before {
   border-color: white; /* 체크된 테두리 색 */
   content: ""; /* 체크 표시 */
   text-align: center;
}

.console-potential {
   width:20rem;
   max-width:95vw;
   max-height:80vh;

   position:fixed;
   top:8rem;
   left:50%;
   transform: translateX(-50%);

   padding:0.5rem;
   overflow: auto;
   z-index:999;
   box-sizing: border-box;
   border-radius: 0.7rem;
   background-color: rgba(0, 0, 0, 0.8);

   -ms-overflow-style: none; /* 인터넷 익스플로러 */
   scrollbar-width: none; /* 파이어폭스 */
   overflow-wrap: break-word;
   word-break: keep-all;
}