.search-wrapper {
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

.search-box {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  box-sizing: border-box; /* ⭐ 핵심 */
  display: block;         /* ⭐ input 미묘한 여백 방지 */
}

.suggestions {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  color:black;
  background: #fff;
  border: 1px solid #ccc;
  border-top: none;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1000; /* 다른 컨텐츠 위로 */
}

.suggestion-item {
  padding: 8px;
  cursor: pointer;
}

.suggestion-item:hover {
  background-color: #f0f0f0;
}