.ess {
  margin:0.1rem;
  border-radius: 0.3rem;
  border:3px solid transparent;
  cursor:pointer;
}
.noneStyle {}
.noneStyle:hover {
  border-color:#696969;
  background-color: #696969;
}
.essStyle {
  border-color:#24a01e;
  background-color:#24a01e;
}
.exStyle {
  border-color:crimson;
  background-color:crimson;
}
.dropdown {
  width:6rem;
  position: relative;
  display: inline-block;
  margin-left:auto;
}

.dropdown-content {
  padding-top:0.2rem;
  box-sizing:border-box;
  border:2px solid black;
  display: none;
  position: absolute;
  background-color: white;
  width:6rem;
  z-index: 5;
}

.dropdown-content input[type="radio"] {
  text-align: center;
  display: none;
  height:100%;
}

.dropdown-content input[type="checkbox"] {
  text-align: center;
  display: none;
  height:100%;
}

.dropdown-content label {
  height:1.5rem;
  font-size:0.9rem;
  color:black;
  display: block;
  padding: 1rem, 1rem;
  text-align: center;
  cursor:pointer;
}

.dropdown-content label:hover {
  background-color: #ddd;
}

#dropdownBtn {
  left:auto;
  display: flex;
  align-items: center;
  box-sizing:border-box;
  border:2px solid black;
  border-radius: 0.2rem;
  width:6rem;
  padding: 0.3rem 0.6rem;
  background-color: white;
  color: black;
  cursor: pointer;
}

#dropdownBtn2 {
  left:auto;
  display: flex;
  align-items: center;
  box-sizing:border-box;
  border:2px solid black;
  border-radius: 0.2rem;
  width:6rem;
  padding: 0.3rem 0.6rem;
  background-color: white;
  color: black;
  cursor: pointer;
}

.bond-icon {
  font-size:0.7rem;
  text-align:center;
  
  border-top-right-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
  position:absolute;
  right:0.2rem;
  top:0.2rem;
  width:1rem;
  height:1rem;
  color:white;
  background-color: rgba(0, 0, 0, 0.7);
}

.absolute-right {
  font-size: 1.1rem;
  margin-left:auto;
  right: 0.5rem;
}

#compcontainer {
  display: flex;
  flex-wrap: wrap;
}
.deckBundle {
  margin:0.5rem;
  padding: 0;
  border-radius: 0.2rem;
  border: 2px solid white;
  flex: 1 1 calc(50% - 20px);
}
.newP {
  margin:0.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.target {
  width: 100%;
  height: 1rem;
  background-color: transparent;
  line-height: 1rem;
}
@media (max-width: 768px) {
  .deckBundle {
      flex: 1 1 100%; /* 화면이 작을 때 가로 길이를 100%로 */
  }
}

.icon-i-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
  padding:0.3rem 0.3rem 0 0.3rem;
}

/* 기본 숨김 */
.hidetooltip {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s;
}

/* hover 시 표시 (PC용) */
.icon-i-container:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

/* 클릭 시 JS로 숨김 */
.tooltip.clicked {
  visibility: hidden !important;
  opacity: 0 !important;
}

/* 툴팁 스타일 */
.tooltip {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 0.4rem 0.6rem;
  border: 2px solid white;
  border-radius: 0.5rem;
  position: absolute;
  z-index: 1;
  top: 125%;
  left: 50%;
  transform: translateX(-50%);
  white-space: normal;
  word-wrap: break-word;
  font-size: 0.8rem;
  width: 15rem;
}

.tooltip::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -2px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #FFF transparent;
}